<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="header-container">
    <div class="logo">
        <img src="../../../assets/image 1.png" alt="" srcset="">
    </div>
    <div class="contacts-container">
        <p>+57 3015273007</p>
        <p>Cr 122D #129B - 90</p>
    </div>
    <div class="searcher">
        <input type="" value="">
        <button>Buscar</button>
        <div class="shopping_cart">
            <a>
                <mat-icon inline="true">shopping_cart</mat-icon>
            </a>
        </div>
    </div>
</div>
