.header-container {
    display: flex;
    height: 116px;
    background-color: #585858;

}

.contacts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    color: #FFFFFF;
}

.logo img {
    width: 100px;
    margin-right: 10px;
}